-- vim: set filetype=lua:
-- ANSIBLE-MANAGED CONFIGURATION FILE
-- Ref: https://yazi-rs.github.io/docs/plugins/overview

-- custom user plugin to sort downloads dir by mtime
{% if yazi_file_sort_downloads_dir_by_mtime %}
require("downloads_dir_file_sort"):setup()
{% else %}
-- require("downloads_dir_file_sort"):setup()
{% endif %}

