# vim: set filetype=toml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref:
#  https://yazi-rs.github.io/docs/configuration/keymap

[mgr]

keymap = [
  # General / Navigation
  { on = {{ yazi_keymap_escape_or_cancel }}, run = "escape --all", desc = "Cancel or escape current action or mode" },
  { on = {{ yazi_keymap_quit }}, run = "quit", desc = "Quit yazi" },
  { on = {{ yazi_keymap_nav_down_one_row }}, run = "arrow 1", desc = "Nav down one row" },
  { on = {{ yazi_keymap_nav_up_one_row }}, run = "arrow -1", desc = "Nav up one row" },
  { on = {{ yazi_keymap_nav_last_row }}, run = "arrow bot", desc = "Nav to last row" },
  { on = {{ yazi_keymap_nav_first_row }}, run = "arrow top", desc = "Nav to first row" },
  { on = {{ yazi_keymap_nav_right }}, run = "enter", desc = "Nav right" },
  { on = {{ yazi_keymap_nav_left }}, run = "leave", desc = "Nav left" },
  { on = {{ yazi_keymap_nav_prev_dir_history }}, run = "back", desc = "Prev dir in history" },
  { on = {{ yazi_keymap_nav_next_dir_history }}, run = "forward", desc = "Next dir in history" },

  # Preview Window
  { on = {{ yazi_keymap_scroll_prev_window_down }}, run = "seek 10", desc = "Scroll preview window down" },
  { on = {{ yazi_keymap_scroll_prev_window_up }}, run = "seek -10", desc = "Scroll preview window up" },
  { on = {{ yazi_keymap_show_prev_window_file_info }}, run = "spot", desc = "Show preview window file info" },

  # Jumps
  { on = {{ yazi_keymap_jump_to_root_dir }}, run = "cd \"{{ yazi_root_dir }}\"", desc = "Go to root dir" },
  { on = {{ yazi_keymap_jump_to_mnt_dir }}, run = "cd \"{{ yazi_mount_dir }}\"", desc = "Go to mnt dir" },
  { on = {{ yazi_keymap_jump_to_media_dir }}, run = "cd \"{{ yazi_media_dir }}\"", desc = "Go to media dir" },
  { on = {{ yazi_keymap_jump_to_fileserver_dir }}, run = "cd \"{{ yazi_fileserver_dir }}\"", desc = "Go to fileserver dir" },
  { on = {{ yazi_keymap_jump_to_user_home_dir }}, run = "cd \"{{ yazi_user_home_dir }}\"", desc = "Go to home dir" },
  { on = {{ yazi_keymap_jump_to_user_documents_dir }}, run = "cd \"{{ yazi_user_documents_dir }}\"", desc = "Go to documents dir" },
  { on = {{ yazi_keymap_jump_to_user_desktop_dir }}, run = "cd \"{{ yazi_user_desktop_dir }}\"", desc = "Go to desktop dir" },
  { on = {{ yazi_keymap_jump_to_user_download_dir }}, run = "cd \"{{ yazi_user_download_dir }}\"", desc = "Go to downloads dir" },
  { on = {{ yazi_keymap_jump_to_user_music_dir }}, run = "cd \"{{ yazi_user_music_dir }}\"", desc = "Go to music dir" },
  { on = {{ yazi_keymap_jump_to_user_pictures_dir }}, run = "cd \"{{ yazi_user_pictures_dir }}\"", desc = "Go to pictures dir" },
  { on = {{ yazi_keymap_jump_to_user_videos_dir }}, run = "cd \"{{ yazi_user_videos_dir }}\"", desc = "Go to videos dir" },
  { on = {{ yazi_keymap_jump_to_user_trash_dir }}, run = "cd \"{{ yazi_user_trash_dir }}\"", desc = "Go to trash dir" },
  { on = {{ yazi_keymap_jump_to_user_devel_dir }}, run = "cd \"{{ yazi_user_devel_dir }}\"", desc = "Go to devel dir" },
  {% for keymap in yazi_extra_keymaps_jump_to_dir -%}
  {{ "{ on = " }}{{ keymap.key_presses }}{{ ", run = \"cd \\\"" }}{{ keymap.dir }}{{ "\\\"\", desc = \"" }}{{ keymap.descrip }}{{ "\" }," }}
  {% endfor %}

  # Selection
  { on = {{ yazi_keymap_toggle_select_file }}, run = ["toggle", "arrow 1"], desc = "Select/deselect file" },
  { on = {{ yazi_keymap_toggle_select_all_files }}, run = "toggle_all --state=on", desc = "Select all files" },
  { on = {{ yazi_keymap_toggle_deselect_all_files }}, run = ["toggle_all --state=off", "unyank"], desc = "Deselect all files" },
  { on = {{ yazi_keymap_visual_mode }}, run = "visual_mode", desc = "Enter visual select mode" },

  # Open File(s)
  { on = {{ yazi_keymap_open_file }}, run = "open", desc = "Open file" },
  { on = {{ yazi_keymap_open_file_interactive }}, run = "open --interactive", desc = "Open file (interactive)" },

  # Yank/Cut File(s)
  { on = {{ yazi_keymap_yank_file }}, run = "yank", desc = "Yank file(s)" },
  { on = {{ yazi_keymap_cut_file }}, run = "yank --cut", desc = "Cut file(s)" },
  { on = {{ yazi_keymap_paste_file }}, run = "paste", desc = "Paste file(s)" },
  { on = {{ yazi_keymap_paste_symlink_to_file }}, run = "paste --follow", desc = "Paste symlink to file(s)" },
]

