# vim: set filetype=toml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref:
#   https://yazi-rs.github.io/docs/configuration/overview

[mgr]

title_format = "{{ yazi_terminal_title_format }}"
ratio = [{{ yazi_column_layout_ratio }}]
sort_by = "{{ yazi_file_sort_method }}"
sort_senstive = {{ yazi_file_sort_case_sensitive }}
sort_dir_first = {{ yazi_file_sort_list_dirs_first }}
show_hidden = {{ yazi_file_list_show_hidden_files }}
show_symlink = {{ yazi_show_symlink_after_filename }}
linemode = "{{ yazi_file_column_extra_info_to_show }}"
scrolloff = {{ yazi_file_column_scroll_offset_num_rows }}

[preview]

wrap = "{{ 'yes' if yazi_long_code_preview_lines else 'no' }}"
tab_size = {{ yazi_num_spaces_per_tab_char }}
cache_dir = "{{ yazi_image_cache_dir }}"
image_delay = {{ yazi_image_preview_delay_ms }}
image_filter = "{{ yazi_image_preview_algorithm }}"
image_quality = {{ yazi_image_preview_quality }}

[opener]

text_file_openers = [
{% for prog in yazi_open_text_files_with_console %}
{ run = "{{ yazi_start_term_emulator }} {{ yazi_term_arg_exec }} \"{{ prog }} '${@}'\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
{% for prog in yazi_open_text_files_with_gui %}
{ run = "{{ prog }} \"${@}\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
]

image_file_openers = [
{% for prog in yazi_open_image_files_with %}
{ run = "{{ prog }} \"${@}\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
]

office_file_openers = [
{% for prog in yazi_open_office_files_with %}
{ run = "{{ prog }} \"${@}\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
]

pdf_file_openers = [
{% for prog in yazi_open_pdf_files_with %}
{ run = "{{ prog }} \"${@}\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
]

audio_file_openers = [
{% for prog in yazi_open_audio_files_with %}
{ run = "{{ prog }} \"${@}\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
]

video_file_openers = [
{% for prog in yazi_open_video_files_with %}
{ run = "{{ prog }} \"${@}\"", block = false, orphan = true, for = "unix", desc = "{{ prog }}" },
{% endfor %}
]

[open]

rules = [
  # pdf files
  { mime = "application/pdf", use = "pdf_file_openers" },
  { mime = "image/vnd.djvu", use = "pdf_file_openers" },
  # specialized plain-text files
  { mime = "application/xml", use = "text_file_openers" },
  { mime = "application/json", use = "text_file_openers" },
  { mime = "inode/empty", use = "text_file_openers" },
  # rich-text-format files
  { mime = "text/rtf", use = "office_file_openers" },
  # open-format office files
  { mime = "application/*opendocument.*", use = "office_file_openers" },
  # MS-Office "OpenXML" office files
  { mime = "application/*officedocument.*", use = "office_file_openers" },
  # MS-Office legacy office files
  { mime = "application/*msword", use = "office_file_openers" },
  { mime = "application/*ms-excel", use = "office_file_openers" },
  { mime = "application/*ms-powerpoint", use = "office_file_openers" },
  { mime = "image/*", use = "image_file_openers" },
  # general plain-text files
  { mime = "text/*", use = "text_file_openers" },
  # general audio files
  { mime = "audio/*", use = "audio_file_openers" },
  # general video files
  { mime = "video/*", use = "video_file_openers" },
]

